<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Books</h1>
  <%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>
</div>

<div class="row">
  <% @books.each do |book| %>
    <div class="col-md-4 mb-4">
      <%= render book %>
    </div>
  <% end %>
</div>
